<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <!-- <a href="">Link A</a> -->
        <h1 class="header-title">S3RV3R</h1>
        <!-- <a href="">Link B</a> -->
    </header>

    <main>

        <div id="frame-container">
            <!-- Content inserted by JS -->
        </div>

    </main>

    <script src="{{ url_for('static', filename='panels.js') }}"></script>
    
</body>
</html>